{% load staticfiles %}
    <section id="event" class="projects-section bg-light">
      <div class="container">

        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'bigday/images/LP_cranes_cat.jpg' %}" alt="A seating area at Los Poblanos being visited by wild cranes and a barn cat">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Event Info</h4>
              <p class="text-black-50 mb-0">Our wedding will be on Sunday, September 1st, 2019 in Albuquerque, New Mexico. Because most of our 
			  guests will be visiting us from out of town, we will be holding a welcome luncheon open to all guests in lieu of a traditional 
			  rehearsal dinner.</p>
            </div>
          </div>
        </div>

        <!-- Welcome Luncheon Info -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/HA_fountain_108.jpg' %}" alt="A garden fountain on the Hotel Albuquerque grounds">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Welcome Luncheon</h4>
                  <p class="mb-0 text-white-50">Everyone is invited to join us the day before the ceremony for a welcome luncheon!</p>
                  <br />
				  <p class="mb-0 text-white-50">Saturday, August 31, 2019 at 11:00 am</p>
                  <p class="mb-0 text-white-50">Hotel Albuquerque at Old Town</p>
                  <p class="mb-0 text-white-50"><a href="https://goo.gl/maps/fdEGzmntFiB2">800 Rio Grande Blvd. NW, Albuquerque, NM 87104</a></p>
				  <p class="mb-0 text-white-50">+1 (505) 843-6300</p>
				  <br />
				  <p class="mb-0 text-white-50">Attire is casual. Transportation is not provided, but parking is available on-site.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Wedding Info -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/LP_portal.jpg' %}" alt="The Grand Portal at Los Poblanos">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Ceremony &amp; Reception</h4>
                  <p class="mb-0 text-white-50">Sunday, September 1, 2019 at 4:00 pm</p>
				  <p class="mb-0 text-white-50">Los Poblanos Historic Inn &amp; Organic Farm</p>
				  <p class="mb-0 text-white-50"><a href="https://goo.gl/maps/rSdER6HJNFC2">4803 Rio Grande Blvd. NW, Los Ranchos de Albuquerque, NM 87107</a></p>
				  <p class="mb-0 text-white-50">+1 (505) 344-9297</p>
				  <br />
				  <p class="mb-0 text-white-50">Cocktail attire is requested, but note that the ceremony and portions of the reception will take place 
				  outdoors; dress appropriately for warm weather (with the possibility of brief rain showers) and for walking on grassy terrain.</p>
				  <br />
				  <p class="mb-0 text-white-50">Shuttle service will run between Old Town (Hotel Albuquerque, Hotel Chaco, and the Best Western) and 
				  Los Poblanos from 3 pm to 11 pm.</p>
				  <p class="mb-0 text-white-50">There is also parking available on-site.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>