{% load staticfiles %}
    <section id="misc" class="projects-section bg-light">
      <div class="container">

        <!-- General gifts info -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'bigday/images/charities/Gifts.jpg' %}" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Gifts</h4>
              <p class="text-black-50 mb-0">As a military family who will be moving around fairly frequently, and who already have a fully-stocked 
			  household, we really don't need conventional wedding gifts. While we would gratefully accept monetary gifts, please consider donating 
			  in our honor to one of the following charities, instead.</p> {# TODO rephrase? #}
            </div>
          </div>
        </div>

        <!-- Malala Fund -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/charities/Malala_Fund.jpg' %}" alt="Afghani schoolgirls">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Malala Fund</h4>
                  <p class="mb-0 text-white-50">Nobel Peace Prize laureate Malala Yousafzai's <a href="http://www.malala.org/">charitable 
				  foundation</a> works to break down barriers to girls' education in developing countries. They support local education activists 
				  who fight against gender discrimination, work to reduce the impact of war and poverty on education, and campaign for policies to 
				  protect girls' and their schooling.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- MSF -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/charities/MSF_vaccinations.jpg' %}" alt="An MSF team member preparing a polio vacciene in South Sudan">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Doctors Without Borders</h4>
                  <p class="mb-0 text-white-50">Médecins Sans Frontières, or <a href="http://www.doctorswithoutborders.org/">Doctors Without 
				  Borders</a>, provides medical aid wherever it's needed most, operating in more than 65 countries around the world. They respond to 
				  crises ranging from wars to epidemics, providing services such as vaccination, malnutrition treatment, emergency surgery, and 
				  mental healthcare.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>
		
		<!-- BBRF -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/charities/BBRF.jpg' %}" alt="A woman scientist placing a slide under a microscope">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Brain &amp; Behavior Research Foundation</h4>
                  <p class="mb-0 text-white-50"><a href="https://www.bbrfoundation.org/">Brain &amp; Behavior Research Foundation</a> blurb</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- VFAI -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/charities/Interpreter.jpg' %}" alt="U.S. Army soldiers, an interpreter, and an 
            Afghani local">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Vets for American Ideals</h4>
                  <p class="mb-0 text-white-50"><a href="https://www.vfai.org/">VFAI</a> blurb</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>