{% load staticfiles %}
    <section id="albuquerque" class="projects-section alt-row bg-light">
      <div class="container">

        <!-- Albuquerque General Info -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'bigday/images/sandias_sunset.jpg' %}" alt="The Sandia mountains at sunset">
          </div>
          <div class="col-xl-4 col-lg-5 order-lg-first">
            <div class="featured-text text-center text-lg-right">
              <h4>About Albuquerque</h4>
              <p class="text-black-50 mb-0">We are excited to invite our family and friends to celebrate with us in the Land of Enchantment! At 
			  5,312 feet above sea level, Albuquerque is a high desert environment. If you haven't spent much time at high altitude before, be sure 
			  to wear sunscreen and stay hydrated. In addition, be aware that alcohol may affect you more than it does at sea level.</p>
            </div>
          </div>
        </div>

        <!-- Travel Info -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6 map-responsive">
			<iframe src="http://www.google.com/maps/embed?pb=!1m30!1m8!1m3!1d52233.34735460288!2d-106.6799782!3d35.0921203!3m2!1i1024!2i768!4f13.1!4m19!3e0!4m5!1s0x87220bea82323aaf%3A0x66384066f642bdc!2sSunport%2C+Albuquerque%2C+NM!3m2!1d35.038594499999995!2d-106.6143944!4m5!1s0x8722732c88bb18ef%3A0x14961367d3084a61!2sHotel+Albuquerque%2C+Rio+Grande+Boulevard+Northwest%2C+Albuquerque%2C+NM!3m2!1d35.0999998!2d-106.6695501!4m5!1s0x872273af5c8627f1%3A0x934ceefd3d9daf9c!2sLos+Poblanos+Historic+Inn+and+Organic+Farm%2C+Rio+Grande+Boulevard+Northwest%2C+Los+Ranchos+de+Albuquerque%2C+NM!3m2!1d35.1475317!2d-106.6650973!5e0!3m2!1sen!2sus!4v1532452885105" width="555" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Getting Here</h4>
                  <p class="mb-0 text-white-50"><a href="http://abqsunport.com/">The Albuquerque International Sunport</a> is a 15 minute drive from 
				  Old Town and 20 minutes from Los Poblanos. Just take I-25 North to I-40 West, then exit onto Rio Grande Boulevard (South for Old 
				  Town, North for Los Ranchos). Old Town and Los Ranchos hotels do not typically offer complimentary airport shuttles, but there is a 
				  paid <a href="http://charterluxuryservices.com/hotelexpress/">shuttle service</a> available from the airport if you choose not to 
				  rent a car. In addition, ride sharing services (<a href="http://www.uber.com/cities/albuquerque/">Uber</a> and 
				  <a href="http://www.lyft.com/rider/cities/albuquerque-nm">Lyft</a>) are cost effective and easily available in Albuquerque.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Hotel Info -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/HA_walkway.jpg' %}" alt="An outdoor walkway on the Hotel Albuquerque grounds">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Where to Stay</h4>
                  <p class="mb-0 text-white-50">There are many good hotels in Albuquerque, but we recommend the ones listed below in Old Town, all of 
				  which are 10 minutes down the road from Los Poblanos. Remember that this is Labor Day weekend, so it's a good idea to book your 
				  accomodations early.</p>
				  <br />
                  <p class="mb-0 text-white-50"><a href="http://www.hotelabq.com/">Hotel Albuquerque at Old Town</a> - A landmark of Old Town, the 
				  historic Hotel Albuquerque will be hosting most of the weekend's social events. We have arranged a courtesy block of guest rooms 
				  there under the code [CODE].</p>
                  <p class="mb-0 text-white-50"><a href="http://www.hotelchaco.com/">Hotel Chaco</a> - Immediately next door to Hotel Albuquerque 
				  and newly opened in 2017, Hotel Chaco offers a tranquil luxury experience.</p>
                  <p class="mb-0 text-white-50"><a href="http://www.riograndeinn.com/">Best Western Plus Rio Grande Inn</a> - Just two blocks up the 
				  street, this Old Town mainstay offers quality accomodations at a great value.</p>
                  <br />
				  <p class="mb-0 text-white-50">There is an inn at <a href="http://www.lospoblanos.com">Los Poblanos</a>, but be aware that it has a 
				  limited number of rooms which tend to book up several months in advance during peak periods.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
	
	<!-- Local Attractions Section -->
    <section id="attractions" class="about-section alt-row text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Things to Do</h2>
            <p class="text-white-50">Albuquerque in general and the Old Town neighborhood in particular are home to a variety of activities and 
			attractions. Some of the highlights include: </p>
			<h3 class="text-white">Museums</h3>
			<p class="text-white-50">Old Town is Albuquerque's primary museum district. The <a href="http://www.nmnaturalhistory.org/">New Mexico 
			Museum of Natural History</a>, <a href="http://www.explora.us/">Explora</a> science center, and the 
			<a href="http://www.cabq.gov/culturalservices/albuquerque-museum">Albuquerque Museum of Art and History</a> are all within two blocks of 
			Hotel Albuquerque. Just a mile down the road is the <a href="http://www.cabq.gov/culturalservices/biopark">ABQ Biopark</a>, which 
			includes a zoo, aquarium, and botanic garden (pictured below). Other museum highlights in the city include the 
			<a href="http://www.balloonmuseum.com/">Albuquerque International Balloon Museum</a>, the <a href="http://www.nuclearmuseum.org/">
			National Museum of Nuclear Science & History</a>, the <a href="http://artmuseum.unm.edu/">University Art Museum</a>, the 
			<a href="http://www.indianpueblo.org/">Indian Pueblo Cultural Center</a>, and the <a href="http://www.nhccnm.org/">National Hispanic 
			Cultural Center</a>.</p>
			<h3 class="text-white">Arts and Culture</h3>
			<p class="text-white-50">Albuquerque has a vibrant cultural scene. In addition to its museums, the city is home to over a hundred 
			galleries and studios, mostly concentrated in the Old Town, Downtown, and Nob Hill neighborhoods. In the performing arts realm, 
			Albuquerque is home to the <a href="http://www.nifnm.org/">National Institute of Flamenco</a>, which has regular perfomances (including 
			tapas dinner shows every Thursday through Sunday at <a href="http://www.tablaoflamenco.org/">Tablao Flamenco</a> in Hotel Albuquerque). 
			There are regular theatrical and musical performances at <a href="http://popejoypresents.com/">Popejoy Hall</a>, the 
			<a href="http://albuquerquelittletheatre.org/">Albuquerque Little Theater</a>, and the 
			<a href="http://www.cabq.gov/culturalservices/kimo">KiMo Theater</a>. The casinos just outside of town regularly feature major touring 
			shows.</p>
			<h3 class="text-white">Outdoor Recreation</h3>
			<p class="text-white-50">New Mexico is known for its natural beauty, and Albuquerque is no exception. There are hundreds of miles of 
			hiking trails within and just outside the city, including the 
			<a href="http://www.cabq.gov/parksandrecreation/open-space/lands/paseo-del-bosque-trail">Paseo Del Bosque</a> trail through the Rio 
			Grande Valley State Park, just West of Old Town and Los Ranchos, and even more scenic areas such as the Sandia Foothills. Arguably the 
			jewel of Albuquerque's outdoor spaces is <a href="http://www.nps.gov/petr/index.htm">Petroglyph National Monument</a>, featuring Native 
			American rock carvings as much as 700 years old. Another top activity is the <a href="http://www.sandiapeak.com/">Sandia Peak Tramway</a>, 
			a 2.7 mile cable car ride up to the 10,378 foot Sandia Peak, featuring spectacular views of the Sandias and the Rio Grande Valley.</p>
			<h3 class="text-white">Cuisine</h3>
			<p class="text-white-50">New Mexican cuisine is a unique fusion of Spanish, Mexican, and Native American ingredients and techniques. 
			Red and green chile are a signature ingredient in many dishes. There are many excellent restaurants, New Mexican and otherwise, in 
			Albuquerque; some highlights in the Old Town and Downtown areas include <a href="http://www.churchstreetcafe.com/">Church Street 
			Caf&eacute;</a>, <a href="http://www.cecilias-cafe.com/">Cecilia's Caf&eacute;</a>, <a href="http://www.monroeschile.com/">Monroe's</a>, 
			<a href="http://www.thecellartapas.com/">The Cellar</a>, <a href="http://www.seasonsabq.com/">Seasons Rotisserie &amp; Grill</a>, 
			<a href="http://www.stclairwinery.com/albuquerque/">St. Clair Winery &amp; Bistro</a>, <a href="http://www.highnoonrestaurant.com/">High 
			Noon Restaurant &amp; Saloon</a>, and <a href="http://www.abqfrenchrestaurant.com/">Le Troquet</a>. Los Poblanos' restaurant, 
			<a href="http://www.lospoblanos.com/dining">Campo</a>, is also highly acclaimed.</p>
			<h3 class="text-white">Nightlife &amp; Casinos</h3>
			<p class="text-white-50">Stuff about nightlife. [Casa Esencia, Q Bar, Mezcal?, others]</p>
			<p class="text-white-50">If gambling is a thing that appeals to you, there are several Casino Resorts located on Pueblo lands just 
			outside of the city limits. Many offer free shuttle service to and from Old Town, including [places].</p>
			<h3 class="text-white">Other</h3>
			<p class="text-white-50">stuff stuff stuff</p>
          </div>
        </div>
        <img src="{% static 'bigday/images/biopark_japanese_garden.jpg' %}" class="img-fluid" alt="The Sasebo Japanese Garden in the ABQ Biopark Botanic Garden">
      </div>
    </section>