{% load staticfiles %}
    <section id="story" class="about-section alt-row text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Our Story</h2>
            <p class="text-white-50">Junk about us goes here. Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
              <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
          </div>
        </div>
        <img src="{% static 'bigday/images/ring.jpg' %}" class="img-fluid" alt="">
      </div>
    </section>