{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Natalie Chrien and Eric Lundquist's wedding website">
    <meta name="author" content="Natalie Chrien">

    <title>Eric and Natalie's Wedding!</title>
	
	<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">

    <!-- Bootstrap core CSS -->
	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	{% include "partials/google-analytics.html" %}
    {% block page_head %}
    {% endblock %}

  </head>
  
  <body id="page-top">
{% block page_content %}{% endblock %}
{% include "partials/footer.html"  %}
    
	<!-- JQuery -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
	
	<!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/font-awesome/js/all.js' %}"></script>
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'bigday/js/grayscale.min.js' %}"></script>

{% block page_js %}
{% endblock %}
  </body>

</html>

<!-- Theme: https://startbootstrap.com/template-overviews/grayscale/
The MIT License (MIT)
Copyright (c) 2013-2018 Blackrock Digital LLC -->

<!-- Base Django code by Cory Zue & Rowena Luk
https://github.com/czue/django-wedding-website -->