{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/grayscale.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Eric and Natalie's Wedding</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#albuquerque">Albuquerque</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#misc">Other Details</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Eric and Natalie</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">are having a wedding!</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Find out More</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Welcome</h2>
            <p class="text-white-50">Intro blurb goes here. Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
              <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
          </div>
        </div>
        <img src="{% static 'bigday/images/blue_soul.png' %}" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Event Details Section -->
    <section id="event" class="projects-section bg-light">
      <div class="container">

        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'bigday/images/LP_cranes_cat.jpg' %}" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Event Info</h4>
              <p class="text-black-50 mb-0">Into blurb about the weekend here. Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
            </div>
          </div>
        </div>

        <!-- Welcome Luncheon Info -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/HA_fountain_108.jpg' %}" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Welcome Luncheon</h4>
                  <p class="mb-0 text-white-50">Everyone is invited to join us the day before the ceremony for a welcome luncheon!</p>
                  <br />
				  <p class="mb-0 text-white-50">Saturday, August 31, 2019 at noon</p>
                  <p class="mb-0 text-white-50">Hotel Albuquerque at Old Town</p>
                  <p class="mb-0 text-white-50"><a href="https://goo.gl/maps/fdEGzmntFiB2">800 Rio Grande Blvd. NW, Albuquerque, NM 87104</a></p>
				  <p class="mb-0 text-white-50">+1 (505) 843-6300</p>
				  <br />
				  <p class="mb-0 text-white-50">Attire is casual. Transportation is not provided, but parking is available on-site.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Wedding Info -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/LP_portal_tall.jpg' %}" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Ceremony &amp; Reception</h4>
                  <p class="mb-0 text-white-50">Sunday, September 1, 2019 at 4:30 pm</p>
				  <p class="mb-0 text-white-50">Los Poblanos Historic Inn &amp; Organic Farm</p>
				  <p class="mb-0 text-white-50"><a href="https://goo.gl/maps/rSdER6HJNFC2">4803 Rio Grande Blvd. NW, Los Ranchos de Albuquerque, NM 87107</a></p>
				  <p class="mb-0 text-white-50">+1 (505) 344-9297</p>
				  <br />
				  <p class="mb-0 text-white-50">Formal attire is requested, but note that the ceremony and portions of the reception will take place 
				  outdoors; dress appropriately for warm weather (with the possibility of brief rain showers) and for walking on grassy terrain.</p>
				  <br />
				  <p class="mb-0 text-white-50">Shuttle service will run between Old Town (Hotel Albuquerque, Hotel Chaco, and the Best Western) and 
				  Los Poblanos from 3 pm to 11 pm.</p>
				  <p class="mb-0 text-white-50">There is also parking available on-site.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
	
	<!-- Local Info Section -->
    <section id="albuquerque" class="projects-section alt-row bg-light">
      <div class="container">

        <!-- Albuquerque General Info -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'bigday/images/sandias_sunset.jpg' %}" alt="">
          </div>
          <div class="col-xl-4 col-lg-5 order-lg-first">
            <div class="featured-text text-center text-lg-right">
              <h4>About Albuquerque</h4>
              <p class="text-black-50 mb-0">We are excited to invite our friends and family to celebrate with us in New Mexico, the Land of 
			  Enchantment! At 5,312 feet above sea level, Albuquerque is a high desert environment. If you haven't spent much time at high altitude 
			  before, be sure to wear sunscreen and drink plenty of water. In addition, be aware that alcohol may affect you more than it does at sea level.</p>
            </div>
          </div>
        </div>

        <!-- Travel Info -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <!-- <img class="img-fluid" src="{% static 'bigday/images/sunport_exterior.jpg' %}" alt=""> -->
			<iframe src="https://www.google.com/maps/embed?pb=!1m30!1m8!1m3!1d52233.34735460288!2d-106.6799782!3d35.0921203!3m2!1i1024!2i768!4f13.1!4m19!3e0!4m5!1s0x87220bea82323aaf%3A0x66384066f642bdc!2sSunport%2C+Albuquerque%2C+NM!3m2!1d35.038594499999995!2d-106.6143944!4m5!1s0x8722732c88bb18ef%3A0x14961367d3084a61!2sHotel+Albuquerque%2C+Rio+Grande+Boulevard+Northwest%2C+Albuquerque%2C+NM!3m2!1d35.0999998!2d-106.6695501!4m5!1s0x872273af5c8627f1%3A0x934ceefd3d9daf9c!2sLos+Poblanos+Historic+Inn+and+Organic+Farm%2C+Rio+Grande+Boulevard+Northwest%2C+Los+Ranchos+de+Albuquerque%2C+NM!3m2!1d35.1475317!2d-106.6650973!5e0!3m2!1sen!2sus!4v1532452885105" width="555" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Getting Here</h4>
                  <p class="mb-0 text-white-50"><a href="https://abqsunport.com/">The Albuquerque International Sunport</a> is a 15 minute drive from 
				  Old Town and 20 minutes from Los Poblanos. Just take I-25 North to I-40 West, then exit onto Rio Grande Boulevard (South for Old 
				  Town, North for Los Ranchos). Old Town and Los Ranchos hotels do not generally offer complimentary airport shuttles, but there is a 
				  paid <a href="https://charterluxuryservices.com/hotelexpress/">shuttle service</a> available from the airport if you choose not to 
				  rent a car. In addition, ride sharing services (<a href="https://www.uber.com/cities/albuquerque/">Uber</a> and 
				  <a href="https://www.lyft.com/rider/cities/albuquerque-nm">Lyft</a>) are cost effective and easily available in Albuquerque.</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Hotel Info -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/old_town_sign.jpg' %}" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Where to Stay</h4>
                  <p class="mb-0 text-white-50">There are many good hotels in Albuquerque, but we recommend the ones listed below in Old Town, all of 
				  which are 10 minutes down the road from Los Poblanos. Remember that this is Labor Day weekend, so it's a good idea to book your 
				  accomodations early.</p>
				  <br />
                  <p class="mb-0 text-white-50"><a href="https://www.hotelabq.com/">Hotel Albuquerque at Old Town</a> - A landmark of Old Town, the 
				  historic Hotel Albuquerque will be hosting most of the weekend's social events. We have arranged a courtesy block of guest rooms 
				  there under the code [CODE].</p>
                  <p class="mb-0 text-white-50"><a href="https://www.hotelchaco.com/">Hotel Chaco</a> - Immediately next door to Hotel Albuquerque 
				  and newly opened in 2017, Hotel Chaco offers a tranquil luxury experience.</p>
                  <p class="mb-0 text-white-50"><a href="https://www.riograndeinn.com/">Best Western Plus Rio Grande Inn</a> - Just two blocks up the 
				  street, this Old Town mainstay offers quality accomodations at a great value.</p>
                  <br />
				  <p class="mb-0 text-white-50">There is an inn at <a href="https://lospoblanos.com">Los Poblanos</a>, but be aware that it has a 
				  limited number of rooms which tend to book several months in advance during peak periods such as Labor Day weekend.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
	
	<!-- Local Attractions Section -->
    <section id="attractions" class="about-section alt-row text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Things to Do</h2>
            <p class="text-white-50">Info on local attractions. Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
              <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
          </div>
        </div>
        <img src="{% static 'bigday/images/biopark_japanese_garden.jpg' %}" class="img-fluid" alt="">
      </div>
    </section>
	
	<!-- Gifts Section -->
    <section id="misc" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="{% static 'bigday/images/charities/climate-reality.jpg' %}" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>Gifts</h4>
              <p class="text-black-50 mb-0">Blurb about why we don't want stuff. Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
            </div>
          </div>
        </div>

        <!-- Charity One -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/charities/climate-reality.jpg' %}" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Charity 1</h4>
                  <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Charity Two -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/charities/climate-reality.jpg' %}" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Charity 2</h4>
                  <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>
		
		<!-- Charity Three -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/charities/climate-reality.jpg' %}" alt="">
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Charity 3</h4>
                  <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Charity Four -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'bigday/images/charities/climate-reality.jpg' %}" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Charity 4</h4>
                  <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

	<!-- Our Story Section -->
    <section id="story" class="about-section alt-row text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">Our Story</h2>
            <p class="text-white-50">Junk about us goes here. Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
              <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
          </div>
        </div>
        <img src="{% static 'bigday/images/ring.jpg' %}" class="img-fluid" alt="">
      </div>
    </section>
	
    <!-- Signup Section -->
    <!-- <section id="misc" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>

          </div>
        </div>
      </div>
    </section> -->

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row justify-content-center">

          <!-- <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <div class="small text-black-50">4923 Market Street, Orlando FL</div>
              </div>
            </div>
          </div> -->

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">hello@yourdomain.com</a>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <div class="small text-black-50">+1 (555) 902-8832</div>
              </div>
            </div>
          </div> -->
        </div>

        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>
{% endblock %}
